:root {
    --primary-color: #34e4ea;
    --secondary-color: #c8c2ae;
    --accent1-color: #2b4141;
    --accent2-color: #8ab9b5;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
    background-color: var(--accent1-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

nav a {
    text-decoration: none;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: var(--secondary-color);
}

.navigation {
    display: flex;
    justify-content: space-evenly;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: var(--accent1-color);
    color: var(--primary-color)
}

.hero article {
    position: absolute;
    top: 85px;
    left: 375px;
    width: 50%;
    padding: 16px;
    background-color: var(--secondary-color);
}

.hero article img {
    float: right;
    width: 125px;
}

.history {
    display: grid;
    grid-template-columns: 1fr 125px 1fr;
    justify-content: center;
}

.history img {
    width: 125px;
    height: auto;
    align-items: center;
}

.adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 2fr;
    background-color: var(--accent1-color);
    color: var(--primary-color);
    place-items: center;
    justify-content: space-evenly;
}

h2 {
    grid-column-start: 1;
    grid-column-end: span 5;
    align-self: center;
}

.adventure img, .employees img {
    grid-row-start: 2;
    width: 125px;
    height: auto;
}

.employees {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 2fr;
    background-color: var(--accent1-color);
    color: var(--primary-color);
    place-items: center;
    justify-content: space-evenly;
}

.contact {
    background-color: var(--accent1-color);
    color: var(--primary-color);
    padding: 0;
    margin: 0;
    border: none;
    text-align: center;
}

.middle {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 /0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}


footer {
    display: flex;
    justify-content: center;
    background-color: var(--accent2-color);
}

