table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    letter-spacing: 1px;
}

th, td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 12 px;
    text-align: center;
}

thead tr, tfoot tr {
    background-color: rgb(0 0 0);
    color: white;
    font-weight: 700;
}