* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    background-color: darkblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    color: white;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    align-items: center;
}

main {
   max-width: 640px;
   grid-column: 2/3;
   margin: 1rem;
}

aside{
    width: 20rem;
    margin:  10px 0;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
    border: solid black;
}

h1 {
    color: darkblue;
    text-align: var(--text-alignment);
    border-bottom: solid #000;
}

main img {
    width: 200px;
    height: auto;
    float: right;
    border: 1px solid black;
    padding: var(--padding);
    box-shadow: 0 0 30px gray;
}
p {
    padding: 0;
}


aside img {
    width: 100%;
    height: auto;
    text-align: center;
}

aside h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 3rem;
    color: white
}

footer {
    background-color: #333;
    color: white;
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: var(--text-alignment);
    padding: 2rem 1rem;
}

.box {
    border: 1 px solid red;
    padding: 1rem;
    background-color: aliceblue;
    color: black;
    margin: 1rem;
}