body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}
header {
    background-color: darkslategrey;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-size: 1.5rem;
}

main {
    width: 400px;
    margin: 0 auto;
}

h1{
    margin: 10px;
    text-align: center;
}

img {
    width: 400px;
    height: auto;
    box-shadow: 0 0 30px grey;
}

section{
    margin: 20px 0;
    border: 1px solid gray;
    padding: 10px;
    background-color: grey;
    font-size: 11;
}

footer {
    background-color: darkslategrey;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-size: .5rem;
}